numpy==1.23.5
pandas==2.2.2
biopython==1.85
scikit-learn==1.7.1
scipy==1.15.3
rpy2==3.5.11

tensorflow==2.10.1
keras==2.10.0
keras-bert==0.89.0
keras-transformer==0.40.0
keras-self-attention==0.51.0
keras-multi-head==0.29.0
keras-layer-normalization==0.16.0
keras-position-wise-feed-forward==0.8.0
keras-pos-embd==0.13.0
keras-embed-sim==0.10.0
Keras-Preprocessing==1.1.2